.body{margin:0px}

.head{
    color:white;background-color:#223344;
    padding:20px 0px;text-align:center;
    font-weight:bold;font-size:30px;
}

.welcome{
    background-image:url(scenery.jpg);
    background-repeat:no-repeat;
    background-size:1920px 1080px;
    padding:200px;text-align:center;
    font-weight:bold;font-size:20px;
    color:#E2EEFC;
}

.title{
    padding:50px 0px 20px;text-align:center;
    font-weight:bold;font-size:20px;
    color:black;background-color:white;
}

.paths{
    display:flex; /*讓內部元件並排*/
    justify-content:center;/*水平對齊*/
    flex-wrap:wrap;
}

.path{
    width:300px;
    padding:50px 0px;text-align:center;
    font-size:14px;
}

/*css media query (RWD)*/
@media(max-width:900px){
        /*螢幕尺寸小於900px，套用此區塊設定*/
    .path{
        width:30%;
    }
}

@media(max-width:450px){
    /*螢幕尺寸小於450px，套用此區塊設定*/
    .path{
        width:90%;
    }
    .welcome{
        padding:100px 0px;
        background-size:800px 600px;
    }
}

.patht{
    padding:20px 0px;font-weight:bold;
    font-size:18px;
}

.infor{
    display:flex;
    justify-content:content;
}

.photo{
    background-image:url(cat.jpg);
    background-position:center center;
    width:300px;height:450px;
    border-radius:50%;
}